.header-container {
    border-bottom: 1px solid black;
    height: 40px;
    display: flex;
    padding: 20px;
    justify-content: center;

    img {
        height: 40px;
        width: 140px;
    }
}