.star {
    margin-right: 10px;
    position: absolute;
    right: 0;

    &:hover {
        &:before {
            content: "\2605";
            color: black;
            position: absolute;
            left: 0; 
        }
    }

    &--filled {
        &::before{
            content: "\2605";
            color: black;
            position: absolute;
            left: 0; 
        }
    }
}
  