.data-box {
    display: flex;
    flex-basis: 43%;
    border: 1px solid;
    margin: 20px 0;
    padding: 20px;
    &__image {
        display: flex;
        height: 100px;
        width: 100px;

        img {
            height: auto;
            width: 100%;
        }
    }
}