.box-list {
    border-top: 1px solid;
    margin: 20px 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
        justify-content: space-between;
        width: 800px;
    }
}