.tracks-table {
    border: 1px solid red;
    margin: 20px;
    width: 100%;
    
    &__header {
        border-bottom: 1px solid red;
        background-color:gray;
    }
    &__row {
        background-color: white;
        position: relative;
        &:nth-child(even) {
            background-color: lightgrey;
        }
    }
}